.markdown-helper-shortcut {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: #c4beaf;
  padding: 30px;
  transform: translate3d(-50%, -50%, 10px);
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 6px 6px 20px #afafaf, -6px -6px 20px #ffffff;
  background: linear-gradient(145deg, #f7f6f3, #ece8dd);
}
.markdown-helper-shortcut.open {
  display: block;
}
.markdown-helper-shortcut code {
  font-family: inter-var, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 544;
  border: 1px solid var(--border-color-regular);
  background: #f9f5f1;
  border-radius: 5px;
  font-size: 14px;
  padding: 1px 5px;
  margin-right: 10px;
  background-color: #524f46;
  color: #fff;
  font-size: 17px;
  font-weight: 100;
}
