.shortcut {
  letter-spacing: -1px;
  position: absolute;
  background: #fbfbfa;
  color: #19171199;
  padding: 15px;
  z-index: 1;
  transition: all 0.5s;
  font-size: 14px;
  word-break: keep-all;
  border-bottom: 1px solid gray;
  transform: translate3d(-100%, 0, 0);
}
.shortcut div {
  padding-bottom: 3px;
}
.shortcut.close {
  transform: translate3d(0, 0, 0);
}
.shortcut code {
  background: #ededeb;
  font-size: 13px;
  padding: 1px 5px;
  border-radius: 2px;
  font-size: black;
  border: 1px solid #b7b7b7;
}
.shortcut-title {
  padding-bottom: 5px;
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: bold;
}
#close-button {
  position: absolute;
  font-size: 18px;
  top: 10px;
  right: 15px;
  color: black;
}
